@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/******************Manoj***********************/

:root{
  --color-white: #fff;
  --color-main:#f9ab00;
  --color-dark: rgba(255,255,255,0);
}

.body{
  font-family: "Roboto Condensed" sans-serif;
}

.logo{
  width: 8.5rem;
}

nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav a.active{
  color: var(--color-main);
}


nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left:0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-dark) ;
}

.navbar-nav > li > a.active {
  margin-right: 0.75rem;
  margin-left:0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-main) ;
}


nav li>a.active:focus, nav li>a:hover {
  border-top: 0.1875rem solid var(--color-main) ;
}

.navbar-brand {
  max-width: 20.25rem;
  padding: 0px !important;
  height: 7rem !important;
}