/****************** Font ***********************/
@font-face {
  font-family: "DefaultFont";
  src: local("DefaultFont"),
    url(./Fonts/Quattrocento-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "DefaultFont-Bold";
  font-weight: 500;
  src: local("DefaultFont-Bold"),
    url(./Fonts/Quattrocento-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "DefaultFont-fun";
  font-weight: 500;
  src: local("DefaultFont-fun"),
    url(./Fonts/ShadowsIntoLight-Regular.ttf) format("opentype");
}

/****************** Main ***********************/

:root {
  --color-white: #fff;
  --color-main: #f9ab00;
  --color-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "DefaultFont-fun" !important;
}

/* .container {
  font-family: "DefaultFont" !important;
} */

.logo {
  width: 8.5rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

nav a.active {
  color: var(--color-main);
}

/* nav ul li {
  text-transform: uppercase;
} */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-dark);
}

.navbar-nav > li > a.active {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--color-white) !important;
  border-top: 0.1875rem solid var(--color-main);
}

nav li > a.active:focus,
nav li > a:hover {
  border-top: 0.1875rem solid var(--color-main);
}

.navbar-brand {
  max-width: 20.25rem;
  padding: 0px !important;
  height: 7rem !important;
}

/****************** Header ***********************/

.header-wrapper {
  background: url(/src/Images/header.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* font-family: "DefaultFont" !important; */
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-info h1 {
  color: var(--color-white) !important;
  /* text-transform: uppercase; */
}

/* _________________ For Mobile _________________  */

@media (max-width: 768px) {
  .main-info h1 {
    color: var(--color-white) !important;
    /* text-transform: uppercase; */
    font-size: 1.5rem;
  }
}
